<%= link_to("<< Back to Assets List", assets_path, :class => 'back-link') %>

<div class="assets new">
  <h2>Update a New Asset</h2>

  <%= form_for @asset do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Asset") %>
    </div>

  <% end %>
</div>